{% extends 'base.html' %}
{% block content %}

<div class="jumbotron">
	<h1>Observate - Network Aware</h1>
	<p class="lead">This project is built on top of Github user's "handyscripts" project "observate" </p>
	<hr class="my-4">
	<p>The project builds on top of existing functionality, by providing file history, built in scanning capabilities and vulnerability lookup</p>
	<codes style="color: rgb(26, 23, 23);">Original code available at: <a style="color: rgb(32, 94, 119);"
		href="https://github.com/handyscripts/Observate">Observate - Network Aware</a></code>

</div>
<div class="jumbotron">
	<h1>nmap-xml-vulners</h1>
	<p class="lead">Projects scanVul.py model is loosely based on Github user's "9p4" project "nmap-xml-vulners"</p>
	<hr class="my-4">
	<p>ScanVul script's database query forming and sending functionality is based on this script with parsing functionality excluded</p>
	<codes style="color: rgb(26, 23, 23);">Original code available at: <a style="color: rgb(32, 94, 119);"
		href="https://github.com/9p4/nmap-xml-vulners">nmap-xml-vulners</a></code>
</div>
{% endblock %}